#center_form {
	margin-left: auto;
	margin-right: auto;
}
#buttons {
	margin-top: 10px;
	text-align: right;
	margin-bottom: 30px;
}
#login_title {
	margin-bottom: 15px;
	text-align: center;
}
.login_body {
	background-color: #F5F5FA;
}
.copyright
{
	display: inline;
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	margin-bottom: 0px;
}
#source_code
{
	width: 85%;
	text-align: left;
	height: 500px;
	resize: vertical;
	display: none;
}