#center_form {
	margin-left: auto;
	margin-right: auto;
}
#buttons {
	margin-top: 10px;
	text-align: right;
	margin-bottom: 30px;
}
#login_title {
	margin-bottom: 15px;
	text-align: center;
}
.login_body {
	background-color: #F5F5FA;
}
.copyright
{
	display: inline;
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	margin-bottom: 0px;
}
#source_code
{
	width: 85%;
	text-align: left;
	height: 500px;
	resize: vertical;
	display: none;
}
.addpad {
    padding-top: 60px;
}
.problem-section
{
	margin-top: 10px !important;
}
.good_submission
{
	background-color: #C7FFC8 !important;
}
.bad_submission
{
	background-color: #FFC7C7 !important;
}
p.date_submission
{
	padding:0px !important;
	margin:0px !important; 
	text-align:center;
	font-size:10px;
	display: inline-block;
}
td.date_submission
{
	padding:0px !important;
	margin:0px !important; 
	text-align:center;
}
p.time_submission
{
	display:inline;
	margin:0px !important;
	padding:0px !important;
	font-size:10px;
}